{{>layouts/header}}

<style>
    /* 컨테이너에 좌우 여백 추가 */
    .container {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<div class="container">
<table class="table" >
    <thead>
    <tr>
        <th scope="col">책장</th>
        <th scope="col">제목</th>
        <th scope="col">작가1</th>
        <th scope="col">작가2</th>
        <th scope="col">권수</th>
        <th scope="col">장르1</th>
        <th scope="col">장르2</th>
        <th scope="col">등급</th>
    </tr>
    </thead>
    <tbody>
    {{#bookList}}
        <tr>
            <td>{{section}}</td>
            <td>{{title}}</td>
            <td>{{author1}}</td>
            <td>{{author2}}</td>
            <td>{{volume}}</td>
            <td>{{genre1}}</td>
            <td>{{genre2}}</td>
            <td>{{rating}}</td>
        </tr>
    {{/bookList}}
    </tbody>
</table>
</div>

<!-- <a href="/home">To home</a> -->

{{>layouts/footer}}